
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1551024709-8f23befc6f87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=825&q=80)">


<div class= "container"
  <div style = "500px"></div>
  <h1>New Cocktail</h1>
    <br>
    <p>Create your new cocktail now!</p>
</div>

    <br>
    <br>

  <div class="form-container">
<%= render 'form', cocktail: @cocktail %>
<%= link_to "Back", cocktails_path  %>

  </div>
</div>



